<%- include('../partials/admin/admin_header.ejs') %>

<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/admin_assets/imgs/theme/watchcompany_logo.webp"
        class="logo"
        alt="Watch Company Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/product_management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/user_management">
          <i class="icon material-icons md-person"></i>
          <span class="text">User Management</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/category_management">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Category Management</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/settings">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Logout </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

<main class="main-wrap">
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Categories</h2>
        <p>Add, edit or delete a category</p>
      </div>
      <div>
        <input
          type="text"
          placeholder="Search Categories"
          class="form-control bg-white"
        />
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- Create Category Section. -->
          <div class="col-md-3">
            <form method="post" action="/admin/addCategory">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input
                  type="text"
                  placeholder="Enter category name"
                  class="form-control"
                  name="category_name"
                />
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">
                  Create category
                </button>
              </div>
            </form>
          </div>
          <!-- End of the Create Category Section -->
          <!-- Existing Category Table. -->
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="text-center">
                    <th>No.</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% let i = 1 %> <% categories.forEach((category) => { %>
                  <tr class="text-center">
                    <td><%= i %></td>
                    <td><b><%= category.name %> </b></td>
                    <td>
                      <% if (category.isUnlisted) { %>
                      <span
                        class="rounded-pill alert-danger"
                        style="padding: 8px"
                        >Unlisted</span
                      >
                      <% } else { %>
                      <span
                        class="rounded-pill alert-success"
                        style="padding: 8px"
                        >Active</span
                      >
                      <% } %>
                    </td>
                    <td class="text-end">
                      <ul style="display: flex; justify-content: space-evenly">
                        <li>
                          <form
                            action="/admin/load_edit_category?id=<%= category._id %>"
                            method="get"
                          >
                            <input
                              type="hidden"
                              name="id"
                              value="<%=  category._id  %>"
                            />
                            <button
                              type="submit"
                              class="btn border border-secondary"
                              style="width: 80px; font-size: small"
                            >
                              <i class="material-icons md-edit"></i>
                              Edit
                            </button>
                          </form>
                        </li>
                        <li>
                          <% if (category.isUnlisted === false) { %>
                          <form
                            action="/admin/unlist?id=<%= category._id %>"
                            method="get"
                          >
                            <input
                              type="hidden"
                              name="id"
                              value="<%= category._id %>"
                            />
                            <button
                              type="submit"
                              class="btn btn-danger"
                              style="width: 80px; font-size: smaller"
                            >
                              <i
                                class="material-icons md-playlist_add_check"
                              ></i>
                              Unlist
                            </button>
                          </form>
                          <% } else { %>
                          <form>
                            <input
                              type="hidden"
                              name="id"
                              value="<%= category._id %>"
                            />
                            <button
                              id="delete-button"
                              type="submit"
                              class="btn btn-success"
                              style="width: 80px; font-size: small"
                            >
                              <i class="material-icons md-playlist_add"></i>
                              List
                            </button>
                          </form>
                          <% } %>
                        </li>
                        <li>
                          <form>
                            <input
                              type="hidden"
                              name="id"
                              value="<%= category._id %>"
                            />
                            <button
                              id="delete-button"
                              type="submit"
                              class="btn"
                              style="color: white; background-color: black"
                            >
                              <i class="material-icons md-delete-forever"></i>
                              Delete
                            </button>
                          </form>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <% i++ %> <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  document.getElementById("delete").addEventListener("click", async () => {
    try {
      const id = category._id;
      const response = await fetch("/admin/delete_category", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(id),
      });
      const data = await response.json();
      if (data.message === "Category deleted successfully") {
        console.log("Category deleted successfully!");
        res.redirect("/admin/category_management");
      } else {
        console.error("Error deleting category:", data.message);
        // Handle deletion error (e.g., display error message to user)
      }
    } catch (error) {
      console.log(`error occured while deleting the category.`);
    }
  });
</script>

<%- include('../partials/admin/admin_footer.ejs') %>
