<%- include('../partials/admin/admin_header.ejs') %>

<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/admin_assets/imgs/theme/watchcompany_logo.webp"
        class="logo"
        alt="Watch Company Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/product_management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/user_management">
          <i class="icon material-icons md-person"></i>
          <span class="text">User Management</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/category_management">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Category Management</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/settings">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Logout </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

<main class="main-wrap">
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Categories</h2>
        <p>Add, edit or delete a category</p>
      </div>
      <div>
        <input
          type="text"
          placeholder="Search Categories"
          class="form-control bg-white"
        />
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <form
              method="post"
              action="/admin/edit_category?id=<%= toEdit._id %>"
            >
              <div class="mb-4">
                <h5 class="content-title card-title">Edit Category</h5>
                <input
                  type="text"
                  placeholder="Enter category name"
                  class="form-control"
                  name="new_name"
                  value="<%= toEdit.name %>"
                />
              </div>
              <div class="d-grid">
                <button class="btn btn-primary" type="submit">
                  Save Changes
                </button>
              </div>
            </form>
            <br />
            <div class="d-grid col-md-3">
              <form method="get" action="/admin/category_management">
                <button class="btn btn-secondary" type="submit">Cancel</button>
              </form>
            </div>
          </div>
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% categories.forEach((category) => { %>
                  <tr>
                    <td><%= category._id %></td>
                    <td><b><%= category.name %> </b></td>
                    <td>
                      <% if (category.isUnlisted) { %>
                      <span
                        class="rounded-pill alert-danger"
                        style="padding: 8px"
                        >Unlisted</span
                      >
                      <% } else { %>
                      <span
                        class="rounded-pill alert-success"
                        style="padding: 8px"
                        >Active</span
                      >
                      <% } %>
                    </td>
                    <td class="text-end">
                      <form
                        action="/admin/load_edit_category?id=<%= category._id %>"
                        method="get"
                      >
                        <input
                          type="hidden"
                          name="id"
                          value="<%= category._id %>"
                        />
                        <button
                          type="submit"
                          class="btn border border-secondary"
                          style="width: 80px; font-size: small"
                        >
                          <i class="material-icons md-edit"></i>
                          Edit
                        </button>
                      </form>
                    </td>
                    <td class="text-end">
                      <% if (category.isUnlisted === false) { %>
                      <form
                        action="/admin/unlist?id=<%= category._id %>"
                        method="get"
                      >
                        <input
                          type="hidden"
                          name="id"
                          value="<%= category._id %>"
                        />
                        <button
                          type="submit"
                          class="btn btn-danger"
                          style="width: 80px; font-size: small"
                        >
                          Unlist
                        </button>
                      </form>
                      <% } else { %>
                      <form
                        action="/admin/list?id=<%= category._id %>"
                        method="get"
                      >
                        <input
                          type="hidden"
                          name="id"
                          value="<%= category._id %>"
                        />
                        <button
                          type="submit"
                          class="btn btn-success"
                          style="width: 80px; font-size: small"
                        >
                          List
                        </button>
                      </form>
                      <% } %>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/admin/admin_footer.ejs') %>
