<%- include('../partials/admin/admin_header.ejs') %>

<!-- side bar -->
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/admin_assets/imgs/theme/watchcompany_logo.webp"
        class="logo"
        alt="Watch Company Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/product_management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/user_management">
          <i class="icon material-icons md-person"></i>
          <span class="text">User Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/category_management">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Category Management</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/order_management">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Order Management</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/settings">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Logout </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

<!-- Main Content -->
<main class="main-wrap">
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Order List</h2>
      </div>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-2 col-6 col-md-3">
            <select class="form-select">
              <option>Status</option>
              <option>Delivered</option>
              <option>Pending</option>
              <option>Shipped</option>
              <option>Cancelled</option>
              <option>Show all</option>
            </select>
          </div>
        </div>
      </header>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="text-start">
                <th class="text-start">Order ID</th>
                <th scope="col">Products Name</th>
                <th scope="col">User</th>
                <th scope="col">Total</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Order Status</th>
                <th scope="col">Order Date</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
                <% for (let i=0; i<orders.length; i++) { %>
              <tr>
                <td><%= orders[i].orderId %></td>
                <td>
                    <% for (let j=0; j<orders[i].products.length; j++) { %>
                    <ul class="text-start">
                        <li><b><%= orders[i].products[j].productName %></b></li>
                    </ul>
                    <% } %>
                </td>
                <td><%= orders[i].user.name %></td>
                <td><%= orders[i].billTotal %></td>
                <td><%= orders[i].paymentMethod %></td>
                <td>
                  <span id="orderStatus-<%= orders[i]._id %>"><%= orders[i].orderStatus %></span>
                </td>
                <td><%= orders[i].showDate %></td>
                <td class="text-end">
                  <a class="btn btn-md rounded btn-change-status" data-order-id="<%= orders[i]._id %>">Change Order Status</a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <div class="d-flex justify-content-center ">
<nav class="float-end " >
  <ul class="pagination justify-content-center" >
    <li class="page-item " >
      <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" tabindex="-1">Previous</a>
    </li>
    <% for (let i = 1; i <= Math.ceil(totalOrders / limit); i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
      </li>
    <% } %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
    </li>
  </ul>
</nav>
</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

document.addEventListener("DOMContentLoaded", () => {
  const changeStatusButtons = document.querySelectorAll(".btn-change-status");

  changeStatusButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      event.preventDefault();

      const orderId = button.getAttribute("data-order-id");

      Swal.fire({
        title: 'Change Order Status',
        html: `
          <select id="orderStatus" class="form-select">
            <option value="Pending">Pending</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
          </select>
        `,
        confirmButtonText: 'Confirm',
        preConfirm: () => {
          const newStatus = document.getElementById('orderStatus').value;
          return fetch(`/admin/order_status?id=${orderId}&status=${newStatus}`, {
            method: 'POST'
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            return response.json();
          })
          .then(data => {
            const statusElement = document.querySelector(`#orderStatus-${orderId}`);
            if (statusElement) {
              statusElement.textContent = newStatus;
            }
            Swal.fire('Order Status Updated!', '', 'success');
          })
          .catch(error => {
            Swal.fire('Error', error.message, 'error');
          });
        }
      });
    });
  });
});

</script>

<%- include('../partials/admin/admin_footer.ejs') %>
