<%- include('../partials/admin/admin_header.ejs') %>

<!-- Sidebar -->
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/admin_assets/imgs/theme/watchcompany_logo.webp"
        class="logo"
        alt="Watch Company Dashboard"
      />
    </a>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/product_management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/user_management">
          <i class="icon material-icons md-person"></i>
          <span class="text">User Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/category_management">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Category Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/order_management">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Order Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/coupon_management">
          <img src="/fimg/voucher.png">
          <span class="text ml-10">Coupon Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/sales_report">
          <img src="/fimg/salesreport.png">
          <span class="text ml-10">Sales Report</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Logout </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

<!-- Main content -->
<main class="main-wrap hide" id="product_management">
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Products List</h2>
        <p>Add products, Edit products and Unlist them.</p>
      </div>
      <div>
        <a href="/admin/add_new_product" class="btn btn-primary btn-sm rounded"
          >Create new</a
        >
      </div>
    </div>
    <div class="card mb-4 d-flex">
      <!-- Table header -->
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
            <select class="form-select">
              <option selected>All</option>
              <% categories.forEach((category)=>{ %>
              <option><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-md-2 col-6">
            <select class="form-select">
              <option selected>Show all</option>
              <option>Unlisted</option>
              <option>Listed</option>
            </select>
          </div>
        </div>
      </header>

      <!-- Populating products -->
      <div class="card-body" style="height: 500px">
        <% products.forEach((product)=>{ %>
        <article class="itemlist">
          <div class="row align-items-center">
            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
              <a class="itemside">
                <div class="left">
                  <img
                    src="/uploads/<%= product.media[0] %>"
                    class="img-sm img-thumbnail"
                    alt="<%= product.name%>"
                  />
                </div>
                <div class="info">
                  <h6 class="mb-0"><%= product.name%></h6>
                </div>
              </a>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-price">
              <span><%= product.price %></span>
            </div>
            <div class="col-lg-2 col-sm-2 col-4 col-status">
              <span class="badge"
                ><% if (product.isUnlisted) { %>
                <span class="rounded-pill alert-danger" style="padding: 8px"
                  >Unlisted</span
                >
                <% } else { %>
                <span class="rounded-pill alert-success" style="padding: 8px"
                  >Active</span
                >
                <% } %></span
              >
            </div>
            <div
              class="col-lg-2 col-sm-2 col-4 col-action text-end"
              style="display: flex; justify-content: space-between"
            >
              <div id="edit-product">
                <form
                  action="/admin/edit_product?id=<%= product._id %>"
                  method="get"
                >
                  <input type="hidden" name="id" value="<%= product._id %>" />
                  <button
                    type="submit"
                    class="btn border border-secondary"
                    style="width: 80px; font-size: small"
                  >
                    <i class="material-icons md-edit"></i>
                    Edit
                  </button>
                </form>
              </div>
              <div id="toggleStatus">
                <% if (product.isUnlisted === false) { %>
                <form
                  action="/admin/unlist_product?id=<%= product._id %>"
                  method="get"
                >
                  <input type="hidden" name="id" value="<%= product._id %>" />
                  <button
                    type="submit"
                    class="btn btn-danger"
                    style="font-size: smaller"
                    data-product-id="<%= product._id %>"
                    data-product-name="<%= product.name %>"
                  >
                    <i class="material-icons md-playlist_add_check"></i>
                    Unlist
                  </button>
                </form>
                <% } else { %>
                <form
                  action="/admin/list_product?id=<%= product._id %>"
                  method="get"
                >
                  <input type="hidden" name="id" value="<%= product._id %>" />
                  <button
                    type="submit"
                    class="btn btn-success"
                    style="font-size: small"
                    data-product-id="<%= product._id %>"
                    data-product-name="<%= product.name %>"
                  >
                    <i class="material-icons md-playlist_add"></i>
                    List
                  </button>
                </form>
                <% } %>
              </div>
            </div>
          </div>
        </article>
        <% }); %>
      </div>

      <!-- Pagination -->
      <div style="flex-direction: column; align-items: center" class="d-flex">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item <%= !hasPreviousPage ? 'disabled' : '' %>">
              <a
                class="page-link"
                href="/admin/product_management?page=<%= currentPage - 1 %>"
                tabindex="-1"
                aria-disabled="<%= !hasPreviousPage %>"
                >Previous</a
              >
            </li>
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
              <a
                class="page-link"
                href="/admin/product_management?page=<%= i %>"
                ><%= i %></a
              >
            </li>
            <% } %>
            <li class="page-item <%= !hasNextPage ? 'disabled' : '' %>">
              <a
                class="page-link"
                href="/admin/product_management?page=<%= currentPage + 1 %>"
                tabindex="-1"
                aria-disabled="<%= !hasNextPage %>"
                >Next</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('../partials/admin/admin_footer.ejs') %>
