<%- include('../partials/admin/admin_header.ejs') %>

<!-- sidebar -->
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img
        src="/admin_assets/imgs/theme/watchcompany_logo.webp"
        class="logo"
        alt="Watch Company Dashboard"
      />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/product_management">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Product Management</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/user_management">
          <i class="icon material-icons md-person"></i>
          <span class="text">User Management</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/category_management">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Category Management</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/settings">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Settings</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/logout">
          <i class="icon material-icons md-local_offer"></i>
          <span class="text"> Logout </span>
        </a>
      </li>
    </ul>
    <br />
    <br />
  </nav>
</aside>

<!-- main content -->
<main class="main-wrap">
  <section class="content-main">
    <div class="content-header">
      <h2 class="content-title">Users list</h2>
    </div>
    <div class="card mb-4">
      <header class="card-header">
        <div class="row gx-3">
          <div class="col-lg-4 col-md-6 me-auto">
            <input type="text" placeholder="Search..." class="form-control" />
          </div>
          <div class="col-lg-2 col-md-3 col-6">
            <select class="form-select">
              <option>Show all</option>
              <option>Active</option>
              <option>Blocked</option>
            </select>
          </div>
        </div>
      </header>
      <!-- card-header end// -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>User Name</th>
                <th>Email</th>
                <th class="status">Status</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((user) => { %>
              <tr>
                <td width="40%">
                  <a href="#" class="itemside">
                    <div class="info pl-3">
                      <h6 class="mb-0 title"><%= user.name %></h6>
                    </div>
                  </a>
                </td>
                <td><%= user.email %></td>
                <td>
                  <% if (user.isBlocked) { %>
                  <span class="rounded-pill alert-danger" style="padding: 8px"
                    >Blocked</span
                  >
                  <% } else { %>
                  <span class="rounded-pill alert-success" style="padding: 8px"
                    >Active</span
                  >
                  <% } %>
                </td>
                <td class="text-end">
                  <% if (user.isBlocked === false) { %>
                  <form action="/admin/block?id=<%= user._id %>" method="get">
                    <input type="hidden" name="id" value="<%= user._id %>" />
                    <button
                      type="submit"
                      class="btn btn-danger"
                      style="width: 80px; font-size: small"
                    >
                      Block
                    </button>
                  </form>
                  <% } else { %>
                  <form action="/admin/unblock?id=<%= user._id %>" method="get">
                    <input type="hidden" name="id" value="<%= user._id %>" />
                    <button
                      type="submit"
                      class="btn btn-success"
                      style="width: 80px; font-size: small"
                    >
                      Unblock
                    </button>
                  </form>
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/admin/admin_footer.ejs') %>
