<%- include('../partials/header.ejs') %> <%-
include('../partials/page_header.ejs') %>

<main class="main">
  <!-- Breadcrumbs -->
  <div class="page-header breadcrumb-wrap pb-5 pt-5" style="padding: 0px">
    <div class="container">
      <div class="breadcrumb">
        <span><a href="/" rel="nofollow">Home</a></span> Pages
        <span></span> Login / Register
      </div>
    </div>
  </div>

  <section style="background-color: black">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- <div class="col-sm-6">
          <div class="has-bg-img">
            <img
              src="/user_assets/imgs/sigup_login/login.png"
              alt=""
              style="width: 100%; height: 100%; object-fit: cover"
            />
          </div>
        </div> -->
        <div class="col-sm-6 pt-10 pb-10" style="color: white">
          <div
            class="p-30 background-white border-radius-10"
            style="background-color: white; height: 400px"
          >
            <div
              class="bg-white"
              style="
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div style="width: 80%">
                <div class="heading_s1">
                  <h3 class="mb-20 text-center">Login</h3>
                </div>
                <form id="loginForm" method="post" class="text-center">
                  <div class="form-group">
                    <input
                      type="text"
                      name="email"
                      id="email"
                      placeholder="Email"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Password"
                      class="form-control"
                    />
                  </div>
                  <div class="login_footer form-group">
                    <a class="text-muted" href="/forgot_password"
                      >Forgot password?</a
                    >
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      id="loginButton"
                      class="btn btn-fill-out btn-block hover-up"
                      style="background-color: black"
                    >
                      Login
                    </button>
                  </div>
                </form>
                <div id="errorMessage" style="color: red">
                  <% if (message) { %>
                  <p><%= message %></p>
                  <% } %>
                </div>
                <div class="divider-text-center mt-15 mb-15">
                  <span style="color: black"> or</span>
                </div>
                <ul class="btn-login list_none text-center mb-15">
                  <li>
                    <a
                      href="/auth/facebook"
                      class="btn btn-facebook hover-up mb-lg-0 mb-sm-4"
                      >Login With Facebook</a
                    >
                  </li>
                  <li>
                    <a href="/auth/google" class="btn btn-google hover-up"
                      >Login With Google</a
                    >
                  </li>
                </ul>
                <div id="exiting-user" class="text-center">
                  <span>
                    <p>Don't have an account? <a href="/signup">Sign up</a></p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/footer.ejs')%>
