<%- include('../partials/header.ejs') %> <%-
include('../partials/page_header.ejs') %>

<style>
  .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-style: none;
    margin: 2px;
  }

  .btn-warning {
    background-color: yellow;
    color: black;
  }

  .btn-danger {
    background-color: red;
    color: white;
  }

  .btn-warning:hover {
    background-color: #ffea00;
  }

  .btn-danger:hover {
    background-color: #d32f2f;
  }

  .table-wrapper {
  max-height: 800px;
  overflow-y: auto;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper thead, .table-wrapper tbody {
  display: block;
}

.table-wrapper thead {
  width: calc(100% - 1em);
}

.table-wrapper tbody {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}

.table-wrapper tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-wrapper th, .table-wrapper td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

</style>

<main class="main d-flex" style="flex-direction: column">
  <!-- breadcrumbs -->
  <div class="page-header breadcrumb-wrap pb-5 pt-5">
    <div class="container">
      <div class="breadcrumb" style="height: 10px">
        <a href="/" rel="nofollow">Home</a>
        <span>Account</span>
      </div>
    </div>
  </div>

  <!-- side menu -->
  <div>
    <div class="row">
      <div>
        <div class="dashboard-menu">
          <ul
            class="nav text-center"
            style="justify-content: center"
            role="tablist"
          >
            <li class="nav-item text-center">
              <a
                class="nav-link"
                id="account-detail-tab"
                href="/my_profile"
                ><i class="fi-rs-user mr-10 text-center"></i>Account details</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="account-detail-tab" href="/my_address"
                ><i class="fi-rs-marker mr-10"></i>My Address</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="account-detail-tab" href="/my_orders"
                style="background-color: black; color: white"
                ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="account-detail-tab" href="/my_wallet"
                ><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" fillRule="evenodd" d="M20 9c1.1 0 2 .9 2 2v2c0 1.1-.9 2-2 2v3a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2zm-2 0V6H4v12h14v-3h-2c-1.1 0-2-1.1-2-2v-1.968C14 9.9 14.9 9 16 9zm-2 4h2v-2h-2z"></path></svg></i>Wallet</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" class="nav-link" href="/logout"
                ><i class="fi-rs-sign-out mr-10"></i>Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <section class="pt-30 pb-30" style="height: 800px">
    <div class="container">
      <div class="col-lg-12 m-auto">
        <div class="card">
          <!-- Order Heading -->
          <div class="card-header dashboard-menu">
            <ul class="nav flex-row justify-content-center" role="tablist">
              <li class="nav-item">
                <a href="#pending" id="dashboard-tab" data-bs-toggle="tab" class="nav-link active" role="tab" aria-controls="dashboard" aria-selected="false" >
                  <h5>Your Order History</h5>
                </a>
              </li>
              <li class="nav-item">
                <a href="#canceled" id="dashboard-tab" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="dashboard" aria-selected="false" >
                  <h5>Canceled Orders</h5>
                </a>
              </li>
              <li class="nav-item">
                <a href="#returned" id="dashboard-tab" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="dashboard" aria-selected="false" >
                  <h5>Returned Orders</h5>
                </a>
              </li>
              <li class="nav-item">
                <a href="#delivered" id="dashboard-tab" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="dashboard" aria-selected="false" >
                  <h5>Delivered Orders</h5>
                </a>
              </li>
              <li class="nav-item">
                <a href="#failed" id="dashboard-tab" data-bs-toggle="tab" class="nav-link" role="tab" aria-controls="dashboard" aria-selected="false" >
                  <h5>Failed Orders</h5>
                </a>
              </li>
            </ul>
          </div>
          <!-- Order Body -->
          <div class="card-body tab-content dashboard-content">
            <!-- Pending Orders -->
            <div class="table-responsive tab-pane fade active show" id="pending" role="tabpanel" aria-labelledby="dashboard-tab">
              <% if(orders.length !== 0) { %>
                <div class="table-wrapper">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product Image</th>
                      <th>Products</th>
                      <th>Purchase Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<orders.length; i++) { %>
                      <% if (((orders[i].orderStatus == 'pending' && orders[i].paymentStatus == "Success") || (orders[i].orderStatus === 'partially-cancelled' && orders[i].paymentStatus == "Success")) || (orders[i].paymentMethod == "cod") || (orders[i].paymentMethod == "wallet")) { %>
                      <tr>
                        <td><%= orders[i].orderId %></td>
                        <td>
                          <% orders[i].products.forEach((product)=>{ %>
                            <% if (product.cancelProduct === false){ %>
                            <img style="height: 90px; width: 90px;" src="/uploads/<%= product.media %>" alt="">
                            <% } %>
                          <% }) %>
                        </td>
                        <td>
                          <ul class="text-start">
                            
                            <% orders[i].products.forEach(element => { %>
                              <% if (element.cancelProduct === false) { %>
                              <li class="mt-15"><h5><%= element.productName %></h5></li>
                              <% } %>
                            <% }); %>
                          </ul>
                        </td>
                        <td><%= orders[i].showDate %></td>
                        <td><%= orders[i].orderStatus %></td>
                        <td><a href="/order?id=<%= orders[i]._id %>" class="btn">View Details</a></td>
                      </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table> 
                </div>
              <% } else { %>
                <h1 class="text-center">Nothing ordered yet...</h1>
              <% } %>
            </div>
            <!-- Canceled Orders -->
            <div class="table-responsive tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="dashboard-tab">
              <% if(orders.length !== 0) { %>
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product Image</th>
                      <th>Products</th>
                      <th>Purchase Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<orders.length; i++) { %>
                      <% if (orders[i].orderStatus === 'partially-cancelled' || orders[i].orderStatus === 'cancelled' ) { %>
                      <tr>
                        <td><%= orders[i].orderId %></td>
                        <td>
                          <% orders[i].products.forEach((product)=>{ %>
                            <% if (product.cancelProduct === true){ %>
                            <img style="height: 90px; width: 90px;" src="/uploads/<%= product.media %>" alt="">
                            <% } %>
                          <% }) %>
                        </td>
                        <td>
                          <ul class="text-start">
                            
                            <% orders[i].products.forEach(element => { %>
                              <% if (element.cancelProduct === true) { %>
                              <li class="mt-15"><h5><%= element.productName %></h5></li>
                              <% } %>
                            <% }); %>
                          </ul>
                        </td>
                        <td><%= orders[i].showDate %></td>
                        <td><%= orders[i].orderStatus %></td>
                      </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table> 
              <% } else { %>
                <h1>No orders</h1>
                <% } %>
            </div>
            <!-- Returned Orders -->
            <div class="table-responsive tab-pane fade" id="returned" role="tabpanel" aria-labelledby="dashboard-tab">
              <% if(orders.length !== 0) { %>
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product Image</th>
                      <th>Products</th>
                      <th>Purchase Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<orders.length; i++) { %>
                      <% if (orders[i].orderStatus === 'returned' || orders[i].orderStatus === 'partially-returned') { %>
                      <tr>
                        <td><%= orders[i].orderId %></td>
                        <td>
                          <% orders[i].products.forEach((product)=>{ %>
                            <% if (product.returnProduct === true){ %>
                            <img style="height: 90px; width: 90px;" src="/uploads/<%= product.media %>" alt="">
                            <% } %>
                          <% }) %>
                        </td>
                        <td>
                          <ul class="text-start">
                            
                            <% orders[i].products.forEach(element => { %>
                              <% if (element.returnProduct === true) { %>
                              <li class="mt-15"><h5><%= element.productName %></h5></li>
                              <% } %>
                            <% }); %>
                          </ul>
                        </td>
                        <td><%= orders[i].showDate %></td>
                        <td><%= orders[i].orderStatus %></td>
                        <td><a href="/order?id=<%= orders[i]._id %>" class="btn">View Details</a></td>
                      </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table> 
              <% } else { %>
                <h1 class="text-center">Nothing ordered yet...</h1>
              <% } %>
            </div>
            <!-- Delivered Orders -->
            <div class="table-responsive tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="dashboard-tab">
              <% if(orders.length !== 0) { %>
                <div class="table-wrapper">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product Image</th>
                      <th>Products</th>
                      <th>Purchase Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<orders.length; i++) { %>
                      <% if (orders[i].orderStatus === 'Delivered' || orders[i].orderStatus === 'partially-returned') { %>
                      <tr>
                        <td><%= orders[i].orderId %></td>
                        <td>
                          <% orders[i].products.forEach((product)=>{ %>
                            <% if (product.returnProduct === false){ %>
                            <img style="height: 90px; width: 90px;" src="/uploads/<%= product.media %>" alt="">
                            <% } %>
                          <% }) %>
                        </td>
                        <td>
                          <ul class="text-start">
                            
                            <% orders[i].products.forEach(element => { %>
                              <% if (element.returnProduct === false) { %>
                              <li class="mt-15"><h5><%= element.productName %></h5></li>
                              <% } %>
                            <% }); %>
                          </ul>
                        </td>
                        <td><%= orders[i].showDate %></td>
                        <td><%= orders[i].orderStatus %></td>
                        <td><a href="/return_order?id=<%= orders[i]._id %>" class="btn">View Details</a></td>
                      </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table> 
                </div>
              <% } else { %>
                <h1 class="text-center">Nothing ordered yet...</h1>
              <% } %>
            </div>
            <!-- Failed Orders -->
            <div class="table-responsive tab-pane fade" id="failed" role="tabpanel" aria-labelledby="dashboard-tab">
              <% if(orders.length !== 0) { %>
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Product Image</th>
                      <th>Products</th>
                      <th>Purchase Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i<orders.length; i++) { %>
                      <% if (orders[i].paymentMethod !== "cod" && orders[i].paymentMethod != "wallet") { %>
                      <% if (orders[i].orderStatus === 'pending' && orders[i].paymentStatus != "Success" || orders[i].orderStatus === 'partially-cancelled' && orders[i].paymentStatus != "Success") { %>
                      <tr>
                        <td><%= orders[i].orderId %></td>
                        <td>
                          <% orders[i].products.forEach((product)=>{ %>
                            <% if (product.cancelProduct === false){ %>
                            <img style="height: 90px; width: 90px;" src="/uploads/<%= product.media %>" alt="">
                            <% } %>
                          <% }) %>
                        </td>
                        <td>
                          <ul class="text-start">
                            
                            <% orders[i].products.forEach(element => { %>
                              <% if (element.cancelProduct === false) { %>
                              <li class="mt-15"><h5><%= element.productName %></h5></li>
                              <% } %>
                            <% }); %>
                          </ul>
                        </td>
                        <td><%= orders[i].showDate %></td>
                        <td><%= orders[i].orderStatus %></td>
                        <td><a href="/order?id=<%= orders[i]._id %>" class="btn">View Details</a></td>
                      </tr>
                      <% } %>
                      <% } %>
                    <% } %>
                  </tbody>
                </table> 
              <% } else { %>
                <h1 class="text-center">Nothing ordered yet...</h1>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/footer.ejs')%>
