<%- include('../partials/header.ejs') %> <%-
include('../partials/page_header.ejs') %>

<style>
    .thumbnail {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
    display: inline-block;
  }

  .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the thumbnail box */
    border-radius: 5px; /* Add border radius for rounded corners */
  }

  .border-radius-10:hover img {
    transform: scale(1.6); /* Adjust the scale factor as needed */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span><%= product.category %></span><span><%= product.name %></span>  
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="product-detail accordion-detail">
            <div class="row mb-50">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="detail-gallery">
    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
    <!-- MAIN SLIDES -->
    <div class="product-image-slider" id="mainSlide">
        <% if (product && product.media) { %>
        <% product.media.forEach((image, index)=>{ %>
        <figure class="border-radius-10">
            <img
                src="/uploads/<%= image %>"
                alt="<%= image %>"
                data-index="<%= index %>"
            />
        </figure>
        <% }) %>
        <% } %>
    </div>
    <!-- THUMBNAILS -->
    <div class="slider-nav-thumbnails pl-15 pr-15">
        <% product.media.forEach((image, index)=>{ %>
        <div class="thumbnail" onclick="showMainSlide(<%= index %>)">
            <img
                src="/uploads/<%= image %>"
                alt="<%= image %>"
                class="thumbnail-img"
            />
        </div>
        <% }) %>
    </div>
</div>
                <!-- End Gallery -->
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="detail-info">
                  <h2 class="title-detail"><%= product.name %></h2>
                  <div class="product-detail-rating">
                    <div class="pro-details-brand">
                      <span>
                        Brands:
                        <a href="shop-grid-right.html"><%= product.category %></a></span
                      >
                    </div>
                    <div class="product-rate-cover text-end">
                      <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                      </div>
                      <span class="font-small ml-5 text-muted">
                        (25 reviews)</span
                      >
                    </div>
                  </div>
                  <div class="clearfix product-price-cover">
                    <div class="product-price primary-color float-left">
                      <ins><% if (product.offerPrice) { %>
                      <span>$<%= product.offerPrice %></span>
                      <span class="old-price">$<%= product.price %></span>
                    <% } else { %>
                      <span>$<%= product.price %></span>
                    <% } %></span></ins>
                    </div>
                  </div>
                  <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                  <div class="short-desc mb-30">
                    <p>
                      <%= product.description %>
                    </p>
                  </div>
                  <div class="product_sort_info font-xs mb-30">
                    <ul>
                      <li class="mb-10">
                        <i class="fi-rs-crown mr-5"></i> 1 Year Brand
                        Warranty
                      </li>
                      <li class="mb-10">
                        <i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy
                      </li>
                      <li>
                        <i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                        available
                      </li>
                    </ul>
                  </div>
                  <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                  <div class="detail-extralink">
                    <div class="detail-extra-link">
    <% if (user) { %>
      <button class="button button-add-to-cart" onclick="addToCart('<%= product._id %>')">
        Add to Cart
      </button>
      <button class="button button-add-to-cart">
        Buy Now
      </button>
    <% } else { %>
      <button onclick="goHome()" class="button button-add-to-cart">
        Add to Cart
      </button>
      <button onclick="goHome()" class="button button-add-to-cart">
        Buy Now
      </button>
    <% } %>
    <a aria-label="Add To Wishlist" class="action-btn hover-up ml-20" <% if (user) { %>
                      onclick="addToWishlist('<%= product._id%>')"
                      <% } else { %>
                        onclick="goHome()"
                        <% } %>>
      <i class="fi-rs-heart"></i>
    </a>
  </div>
                  </div>
                  <ul class="product-meta font-xs color-grey mt-50">
                    <li>
                      Availability:<span class="in-stock text-success ml-5"
                        ><%= product.stock %> Items In Stock</span
                      >
                    </li>
                  </ul>
                </div>
                <!-- Detail Info -->
              </div>
            </div>
            
                <!-- Related Products -->
<div class="row mt-60">
  <div class="col-12">
    <h3 class="section-title style-1 mb-30">Related products</h3>
  </div>
  <div class="col-12">
    <div class="row related-products">
    <% relatedProd.forEach((product) => { %>
        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
          <div class="product-cart-wrap mb-30">
            <div class="product-img-action-wrap">
              <div class="product-img product-img-zoom">
                <a href="/load_product?id=<%= product._id %>" tabindex="0">
                  <img class="default-img" src="/uploads/<%= product.media[0] %>" alt="">
                  <img class="hover-img" src="/uploads/<%= product.media[0] %>" alt="">
                </a>
              </div>
            </div>
            <div class="product-content-wrap">
              <div class="product-category">
                <a href="/load_product?id=<%= product._id %>"><%= product.category %></a>
              </div>
              <h2 class="product-name"><a href="/load_product?id=<%= product._id %>" tabindex="0"><%= product.name %></a></h2>
              <div class="rating-result" title="90%">
                <span>90%</span>
              </div>
              <div class="product-price">
                <span>$<%= product.price %></span>
              </div>
              <div class="product-action-1 show">
                <a aria-label="Add To Cart" class="action-btn hover-up"
                  <% if (user) { %>
                    onclick="addToCart('<%= product._id %>')"
                  <% } else { %>
                    onclick="goHome()"
                  <% } %>
                >
                  <i class="fi-rs-shopping-bag-add"></i>
                </a>
                <a aria-label="Add To Wishlist" class="action-btn hover-up" <% if (user) { %>
                      onclick="addToWishlist('<%= product._id%>')"
                      <% } else { %>
                        onclick="goHome()"
                        <% } %>>
                  <i class="fi-rs-heart"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
  </div>
</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
  // Product image with zoom in feature.
  function showMainSlide(index) {
    const mainSlide = document.getElementById('mainSlide');
    const images = mainSlide.querySelectorAll('img');
    images.forEach(image => {
      image.style.display = 'none';
    });
    images[index].style.display = 'block';
  }
  
  window.onload = function() {
    showMainSlide(0);
  };

  // go to home page.
  function goHome() {
    window.location.href = '/login';
  }

  // add to cart
async function addToCart(productId) {
  try {
    const response = await fetch('/check_product_in_cart', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        productId: productId
      })
    });

    if (!response.ok) {
      throw new Error('Failed to check product in cart');
    }

    const data = await response.json();

    if (data.exists) {
      Swal.fire({
        title: 'Product Already in Cart',
        text: 'This product is already in your cart.',
        icon: 'warning',
        confirmButtonText: "Go to Cart",
        showCancelButton: true
      }).then((value) => {
        if (value.isConfirmed) {
          window.location.href = '/cart';
        }
      });
    } else {
      const addToCartResponse = await fetch('/add_to_cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId
        })
      });

      if (!addToCartResponse.ok) {
        throw new Error('Failed to add product to cart');
      }

      const cartData = await addToCartResponse.json();
      console.log('Product added to cart successfully:', cartData);
      window.location.href = '/cart';
    }
  } catch (error) {
    console.error('Error adding product to cart:', error.message);
    swal('Error', 'Failed to add product to cart. Please try again later.', 'error');
  }
}

  // Add to cart logic
  async function addToCart(productId) {
    try {
      const response = await fetch("/check_product_in_cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          productId: productId,
        }),
      });

      if (!response.ok) {
        throw new Error("Failed to check product in cart");
      }

      const data = await response.json();

      if (data.exists) {
        Swal.fire({
          title: "Product Already in Cart",
          text: "This product is already in your cart.",
          icon: "warning",
          confirmButtonText: "Go to Cart",
          showCancelButton: true,
        }).then((value) => {
          if (value.isConfirmed) {
            window.location.href = "/cart";
          }
        });
      } else {
        const addToCartResponse = await fetch("/add_to_cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId: productId,
          }),
        });

        if (!addToCartResponse.ok) {
          throw new Error("Failed to add product to cart");
        }

        const cartData = await addToCartResponse.json();
        console.log("Product added to cart successfully:", cartData);
        window.location.href = "/cart";
      }
    } catch (error) {
      console.error("Error adding product to cart:", error.message);
      Swal.fire("Error", "Failed to add product to cart. Please try again later.", "error");
    }
  }

  // Go to home page (for add to cart).
  function goHome() {
    window.location.href = "/login";
  }

  // Add to Wishlist Function
async function addToWishlist(productId) {
  console.log(`product id : ${productId}`);
  try {
    const response = await fetch('/wishlist_check', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        productId: productId
      })
    });


    if (!response.ok) {
      throw new Error('Failed to check product in wishlist.');
    }

    const data = await response.json();

    if (data.exists) {
      Swal.fire({
        title: 'Product Already in Wishlist',
        text: 'This product is already in your wishlist.',
        icon: 'warning',
        confirmButtonText: 'View Wishlist',
        showCancelButton: true
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '/wishlist';
        }
      });
    } else {
      const addToWishlistResponse = await fetch('/add_to_wishlist', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId
        })
      });

      if (!addToWishlistResponse.ok) {
        throw new Error('Failed to add product to wishlist.');
      }

      const wishlistData = await addToWishlistResponse.json();
      window.location.href = '/wishlist';
    }
  } catch (error) {
    console.error('Error adding product to wishlist:', error);
    Swal.fire('Error', 'Failed to add product to wishlist. Please try again later.', 'error');
  }
}

</script>

<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/footer.ejs')%>
