<%- include('../partials/header.ejs') %> 
<%- include('../partials/page_header.ejs') %>
    
<style>
.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin-right: 5px;
}

.pagination a .active {
  background-color: #333;
  color: #fff;
}
</style>

<main class="main">
  <!-- Breadcrumbs -->
  <div class="page-header breadcrumb-wrap" style="padding: 5px">
    <div class="container">
      <div class="breadcrumb">
          <a href="/" rel="unfollow">Home</a>
          <span><a href="/shop">Shop</a> </span>
      </div>
    </div>
  </div>

  <!-- product lists -->
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
            <!-- sorting top bar -->
          <div class="shop-product-fillter">
            <!-- We found dash products section -->
            <div class="totall-product" style="visibility: hidden;">
              <p>
                We found
                <strong class="text-brand"><%= products.length %></strong> items
                for you!
              </p>
            </div>
            <!-- Sorting Dropdown menu -->
            <div class="sort-by-product-area">
              <div class="sort-by-cover">
                <div class="sort-by-product-wrap">
                  <div class="sort-by">
                    <span><i class="fi-rs-apps-sort"></i></span>
                  </div>
                  <div class="sort-by-dropdown-wrap">
                    <select id="sortDropdown" class="form-control">
                      <option value="">Sort by</option>
                      <option value="price-asc">Price: Low to High</option>
                      <option value="price-desc">Price: High to Low</option>
                      <option value="name-asc">Release Date</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- products populations -->
          <div class="row product-grid-3">
            <% for(let i = 0; i < products.length; i++) { %>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="/load_product?id=<%= products[i]._id %>">
                      <img class="default-img" src="/uploads/<%= products[i].media[0] %>" alt="" />
                      <img class="hover-img" src="/uploads/<%= products[i].media[0] %>" alt="" />
                    </a>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="shop-grid-right.html"><%= products[i].category %></a>
                  </div>
                  <h2 class="product-name">
                    <a href="shop-product-right.html"><%= products[i].name %></a>
                  </h2>
                  <div class="rating-result" title="90%">
                    <span><span>90%</span></span>
                  </div>
                  <div class="product-price" style="font-family: sans-serif;">
                    <% if (products[i].offerPrice != 0 || products[i].categoryDiscountPrice != 0) { %>
                      <% if (products[i].offerPrice < products[i].categoryDiscountPrice && products[i].offerPrice != 0) { %>
                          <span>₹<%= products[i].offerPrice %></span>
                          <span class="old-price">₹<%= products[i].price %></span>
                      <% } else { %>
                          <span>₹<%= products[i].categoryDiscountPrice %></span>
                          <span class="old-price">₹<%= products[i].price %></span>
                      <% } %>
                    <% } else { %>
                      <span>₹<%= products[i].price %></span>
                    <% } %>
                  </div>
                  <form action="/"></form>
                  <div class="product-action-1 show">
                    <a
                      aria-label="Add To Cart"
                      class="action-btn hover-up"
                      <% if (user) { %>
                        onclick="addToCart('<%= products[i]._id %>')"
                      <% } else { %>
                        onclick="goHome()"
                      <% } %>>
                      <i class="fi-rs-shopping-bag-add"></i>
                    </a>
                    <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up" 
                      <% if (user) { %>
                        onclick="addToWishlist('<%= products[i]._id %>')"
                      <% } else { %>
                        onclick="goHome()"
                      <% } %>>
                      <i class="fi-rs-heart"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>

          <!--pagination-->
            <div class="pagination-area mt-15 mb-50 d-flex justify-content-center" >
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                  <% for (let i = 1; i <= totalPages; i++) { %>
                  <li
                    class="page-item <%= currentPage === i ? 'active' : '' %>"
                  >
                    <a class="page-link" href="/shop?page=<%= i %>"
                      ><%= i %></a
                    >
                  </li>
                  <% } %>
                </ul>
              </nav>
            </div>

        </div>
        <!-- left filters -->
        <div class="col-lg-3 primary-sidebar sticky-sidebar">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
            <ul class="categories">
              <li><a>Show all</a></li>
              <% categories.forEach((Category) => { %>
                <li><a><%= Category.name %></a></li>
              <% }); %>
            </ul>
          </div>
          <!-- Product sidebar Widget -->
          <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
            <div class="widget-header position-relative mb-20 pb-10">
              <h5 class="widget-title mb-10">New products</h5>
              <div class="bt-1 border-color-1"></div>
            </div>
            <% for(let i = 0; i < Math.min(3, products.length); i++) { %>
              <div class="single-post clearfix">
                <div class="image">
                  <img src="/uploads/<%= products[i].media[0] %>" alt="#" />
                </div>
                <div class="content pt-10">
                  <h5><a href="/load_product?id=<%= products[i]._id %>"> <%= products[i].name %></a></h5>
                  <p class="price mb-0 mt-5">₹ <%= products[i].price %></p>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const sortDropdown = document.getElementById('sortDropdown');
    const categories = document.querySelectorAll('.widget-category li a');
    
    let currentPage = 1;
    let selectedCategory = null;
    let sortOptionValue = null;

    // Event listener for sort dropdown
    sortDropdown.addEventListener('change', function () {
      sortOptionValue = sortDropdown.value;
      currentPage = 1;
      applyFilters(sortOptionValue, selectedCategory);
    });

    // Event listener for search input
    searchInput.addEventListener("input", function () {
      currentPage = 1;
      applyFilters(sortOptionValue, selectedCategory);
    });

    // Event listener for category filters
    categories.forEach((cat) => {
      cat.addEventListener("click", (event) => {
        event.preventDefault();
        selectedCategory = cat.innerText.trim();
        currentPage = 1;
        applyFilters(sortOptionValue, selectedCategory);
      });
    });

    function applyFilters(sortOption, category) {
      const searchQuery = searchInput.value.trim();

      fetch(`/shop/filter?sort=${sortOption}&category=${category}&search=${searchQuery}&page=${currentPage}`)
        .then(response => response.json())
        .then(data => {
          updateProducts(data.products);
          updatePagination(data.totalPages);
        })
        .catch(error => {
          console.error("Error fetching filtered data:", error);
        });
    }

    function updateProducts(products) {
      const productGrid = document.querySelector(".product-grid-3");
      productGrid.innerHTML = "";

      products.forEach(product => {
        const productHTML = `
          <div class="col-lg-4 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="/load_product?id=${product._id}">
                    <img class="default-img" src="/uploads/${product.media[0]}" alt="" />
                    <img class="hover-img" src="/uploads/${product.media[0]}" alt="" />
                  </a>
                </div>
              </div>
              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="shop-grid-right.html">${product.category}</a>
                </div>
                <h2 class="product-name">
                  <a href="shop-product-right.html">${product.name}</a>
                </h2>
                <div class="rating-result" title="90%">
                  <span><span>90%</span></span>
                </div>
                <div class="product-price" style="font-family: sans-serif;">
                  ${product.offerPrice != 0 || product.categoryDiscountPrice != 0 ? `
                    ${product.offerPrice < product.categoryDiscountPrice && product.offerPrice != 0 ? `
                        <span>₹${product.offerPrice}</span>
                        <span class="old-price">₹${product.price}</span>
                    ` : `
                        <span>₹${product.categoryDiscountPrice}</span>
                        <span class="old-price">₹${product.price}</span>
                    `}
                  ` : `
                    <span>₹${product.price}</span>
                  `}
                </div>
                <form action="/"></form>
                <div class="product-action-1 show">
                  <a aria-label="Add To Cart" class="action-btn hover-up" <% user ? onclick="addToCart('${product._id}')" : onclick="goHome()" %>><i class="fi-rs-shopping-bag-add"></i></a>
                  <a aria-label="Add To Wishlist" class="action-btn hover-up"  <% user ? onclick="addToWishlist('${product._id}')" : onclick="goHome()"%>}><i class="fi-rs-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        `;
        productGrid.innerHTML += productHTML;
      });
    }

    function updatePagination(totalPages) {
      const pagination = document.querySelector(".pagination");
      pagination.innerHTML = "";

      for (let i = 1; i <= totalPages; i++) {
        const pageItem = document.createElement("li");
        pageItem.className = `page-item ${currentPage === i ? "active" : ""}`;
        pageItem.innerHTML = `<a class="page-link" href="/shop?page=${i}">${i}</a>`;
        pageItem.addEventListener("click", (event) => {
          event.preventDefault();
          currentPage = i;
          applyFilters(sortOptionValue, selectedCategory);
        });
        pagination.appendChild(pageItem);
      }
    }
  });
</script>

<script>
  async function addToCart(productId) {
  try {
    const response = await fetch("/check_product_in_cart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        productId: productId,
      }),
    });
    if (!response.ok) {
      throw new Error("Failed to check product in cart");
    }
    const data = await response.json();
    if (data.exists) {
      Swal.fire({
        title: "Product Already in Cart",
        text: "This product is already in your cart.",
        icon: "warning",
        confirmButtonText: "Go to Cart",
        showCancelButton: true,
      }).then((value) => {
        if (value.isConfirmed) {
          window.location.href = "/cart";
        }
      });
    } else {
      const addToCartResponse = await fetch("/add_to_cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          productId: productId,
        }),
      });
      if (!addToCartResponse.ok) {
        throw new Error("Failed to add product to cart");
      }
      const cartData = await addToCartResponse.json();
      console.log("Product added to cart successfully:", cartData);
      window.location.href = "/cart";
    }
  } catch (error) {
    console.error("Error adding product to cart:", error.message);
    Swal.fire(
      "Error",
      "Failed to add product to cart. Please try again later.",
      "error"
    );
  }
  }

  async function addToWishlist(productId) {
    console.log(`product id : ${productId}`);
    try {
      const response = await fetch('/wishlist_check', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId
        })
      });
      console.log('response : ',response);
      if (!response.ok) {
        throw new Error('Failed to check product in wishlist.');
      }
      const data = await response.json();
      if (data.exists) {
        Swal.fire({
          title: 'Product Already in Wishlist',
          text: 'This product is already in your wishlist.',
          icon: 'warning',
          confirmButtonText: 'View Wishlist',
          showCancelButton: true
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/wishlist';
          }
        });
      } else {
        const addToWishlistResponse = await fetch('/add_to_wishlist', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            productId: productId
          })
        });
        if (!addToWishlistResponse.ok) {
          throw new Error('Failed to add product to wishlist.');
        }
        const wishlistData = await addToWishlistResponse.json();
        console.log('Product added to wishlist successfully:', wishlistData);
        window.location.href = '/wishlist';
      }
    } catch (error) {
      console.error('Error adding product to wishlist:', error);
      Swal.fire('Error', 'Failed to add product to wishlist. Please try again later.', 'error');
    }
  }

  function goHome(){
    location.href = '/login';
  }
</script>

<%- include('../partials/footer.ejs') %>
