<%- include('../partials/header.ejs') %> <%-
include('../partials/page_header.ejs') %>

<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Wishlist
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <% if (products.length) { %>
            <table class="table shopping-summery text-center">
              <thead>
                <tr class="main-heading">
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock Status</th>
                  <th scope="col">Action</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach((product)=> { %>
                <tr data-product-id="<%= product._id %>">
                  <td class="image product-thumbnail">
                    <img src="/uploads/<%= product.media[0] %>" />
                  </td>
                  <td class="product-des product-name">
                    <h5 class="product-name">
                      <a href="/load_product?id=<%= product.id %>"
                        ><%= product.name %></a
                      >
                    </h5>
                  </td>
                  <td class="price" data-title="Price">
                    <span> ₹ <%= product.price %> </span>
                  </td>
                  <td class="text-center" data-title="Stock">
                    <% if (product.stock != 0) { %>
                    <span class="color3 font-weight-bold">In Stock</span>
                    <% } else { %>
                    <span class="color2 font-weight-bold">Out of Stock</span>
                    <% } %>
                  </td>
                  <td class="text-right" data-title="Cart">
                    <button
                      class="btn btn-sm"
                      onclick="addToCart('<%= String(product._id) %>')"
                    >
                      <i class="fi-rs-shopping-bag mr-5"></i>Add to cart
                    </button>
                  </td>
                  <td class="action" data-title="Remove">
                    <a class="delete"><i class="fi-rs-trash"></i></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
                <% } else { %>
                  <main
          class="main"
          style="
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            margin: 0;
          "
        >
          <div
            class="empty-cart-container"
            style="
              text-align: center;
              background-color: #fff;
              border-radius: 8px;
              padding: 40px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            "
          >
            <h2 style="color: #333; font-size: 24px; margin-bottom: 10px">
              Your wishlist is empty
            </h2>
            <p style="color: #666; font-size: 16px; margin-bottom: 20px">
              Looks like you haven't added any items to your wishlist yet.
            </p>
            <button
              onclick="goToShopPage()"
              style="
                padding: 12px 24px;
                font-size: 16px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
              "
            >
              Go to Shop Page
            </button>
          </div>
        </main>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  // add to cart.
  async function addToCart(productId) {
    try {
      const response = await fetch("/check_product_in_cart", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          productId: productId,
        }),
      });

      if (!response.ok) {
        throw new Error("Failed to check product in cart");
      }

      const data = await response.json();

      if (data.exists) {
        Swal.fire({
          title: "Product Already in Cart",
          text: "This product is already in your cart.",
          icon: "warning",
          confirmButtonText: "Go to Cart",
          showCancelButton: true,
        }).then((value) => {
          if (value.isConfirmed) {
            window.location.href = "/cart";
          }
        });
      } else {
        const addToCartResponse = await fetch("/add_to_cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            productId: productId,
          }),
        });

        if (!addToCartResponse.ok) {
          throw new Error("Failed to add product to cart");
        }

        const cartData = await addToCartResponse.json();
        console.log("Product added to cart successfully:", cartData);
        window.location.href = "/cart";
      }
    } catch (error) {
      console.error("Error adding product to cart:", error.message);
      Swal.fire(
        "Error",
        "Failed to add product to cart. Please try again later.",
        "error"
      );
    }
  }

  // Event listner for delete from wishlist
  document.querySelectorAll(".delete").forEach((button) => {
    console.log(`clicked delete button..`);
    button.addEventListener("click", async (event) => {
      const shouldRemove = await Swal.fire({
        title: "Are you sure?",
        text: "Are you sure you want remove this item from cart?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes",
        cancelButtonText: "No",
      });

      if (shouldRemove.isConfirmed) {
        const productId = event.target
          .closest("[data-product-id]")
          .getAttribute("data-product-id");
        console.log(productId);
        removeFromWishlist(productId);
      }
    });
  });

  // Remove from Wishlist
  const removeFromWishlist = async (productId) => {
    try {
        console.log(`removing from wishlist..`);
      const response = await fetch(`/wishlistItem?productId=${productId}`, {
        method: "DELETE",
      });

      if (response.ok) {
        const data = await response.json();
        const { message, wishlist } = data;
        const productRow = document.querySelector(
          `tr[data-product-id="${productId}"]`
        );
        if (productRow) {
          productRow.remove();
        }
        const rows = document.querySelectorAll(".product-name");
        if (!rows.length) location.reload();
      } else {
        console.log(`Failed to remove item from cart : ${response.statusText}`);
      }
    } catch (error) {
      console.log(`Erro removing product : ${error}`);
    }
  };

function goToShopPage() {
    window.location.href = "/shop";
  }
</script>

<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/footer.ejs')%>
